ENVIRONMENT=development

SQL_SERVER=brokersync-dev.database.windows.net
SQL_DATABASE=brokersync
SQL_USER=brokersync_admin
SQL_PASSWORD=BrokerSync@2026!
SQL_DRIVER=ODBC Driver 18 for SQL Server

JWT_SECRET=62726f6b657273796e632d6465762d7365637265742d6b65793332
JWT_ACCESS_EXPIRY_MINUTES=30
JWT_REFRESH_EXPIRY_DAYS=7

CORS_ORIGINS=http://localhost:5173
